*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(14, 14, 14);
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(88, 88, 88);
    width: 95%;
}

header > div:hover{
    cursor: pointer;
}

.letter{
    height: 1.8rem;
    width: 1.8rem;
    border: 1px solid rgb(88, 88, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}

.letter_grid{
    width: 100%;
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.keyboard_grid{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0.8rem;
}

.row-keys{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.key, .backspace_key, .enter_key{
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(88, 88, 88);
    padding: 1%;
    background-color: grey;
    border-radius: 20%;
}

.key:hover, .backspace_key:hover, .enter_key:hover{
    background-color: rgb(97, 97, 97);
    cursor: pointer;
}

.help{
    margin-top: 1rem;
    width: 40%;
    font-size: 16px;
}

.help_header{
    display: flex;
    justify-content: space-between;
}

.x_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.help p{
    margin-top: 1%;
    margin-bottom: 1%;
}

.player_stats{
    background-color: rgb(41, 41, 41);
    height: 30%;
    width: 30%;
    position: absolute;
    top: 30%;
    font-size: 22px;
    border-radius: 2%;
    text-align: center;
}

.player_stats ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    list-style-type: none;
}

.player_stats li{
    flex: 1 1 0px;
    display: inline;
}

.player_stats p{
    margin-top: 5%;
    margin-bottom: 5%;
}

.stats_header span{
    top: 15px;
    right: 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_text{
    position: absolute;
    top: 40%;
    background-color: rgb(168, 168, 168);
    color: black;
    font-weight: bold;
    padding: 1%;
}